body {
  background-color: #eee;
  margin: 0;
  padding: 5px;
  font-family: monospace;

}

.badge {
  text-align: center;
}

.badge::before,.badge::after {
  content: " 🥤 ";
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.link{
  margin: .5em;
  padding: .5em .75em;
  color: #3273dc;
  text-decoration-color: #ffcc00;
  background-color: #ffcc00;
}

.link:visited {
  border-color: #000;
  color: #3273dc;
}

.link:hover {
  color: black;
}

.site-name {
  font-style: italic;
  font-weight: bold;
}

.webring-name {
  font-style: italic;
}