body {
  margin: 0; /* required for correct iframe resizing */
  padding: 5px;
}

.badge {
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.link{
  margin: .5rem;
  padding:.5rem;
  border: 2px solid black;
}

.site-name {
  font-weight: bold;
}

.webring-name {
  font-weight: bold;
}
